// Screen sizes
$screen-mobile-sm: 360px;
$screen-mobile-lmd: 500px;
$screen-mobile-lg: 640px;

// Colors
$label-color: #306d50;
$circle-color: #1abb6d;
$addForm-title-color: #585757;
$border-color: #808080;
$placeholder-color: #b9b8b8;

$button-color: #258fac;
$button-txt-color: #ffffff;

$footer-bg-color: #272727;

$white-bg-color: #ffffff;
$title-color: #258fac;

$error: #b31a1a;
$success-msg: #306d50;
